<div>
  <%= link_to 'Vissza a foltokhoz', designs_path, class: 'btn btn-secondary m-4', data: { turbo: false } %>
</div>
<br>
<div class="flex flex-row flex-nowrap gap-4 place-content-center">
  <%= image_tag @design.image , alt: @design.name , class: 'rounded-lg max-w-[200px] justify-self-end' %>
  <div>

    <div>
      <span class=" font-bold text-xl mb-2 text-primary"> <%= @design.name %> </span>
      <br>
      <%= @design.created.strftime("%Y.%m.%d.") %>
      <br>
      <% if(false) %>
        <% d@esign.labels.each do |label| %>
          <div class="m-1 justify-self-center">
            <div class="bg-gray-700 rounded-md text-white text-sm p-1 m-2">
              <%= label.name.upcase %>
            </div>
          </div>
        <% end %>
      <% end %>
      <br>
      <div class="text-gray-800 italic break-words">
        <%= @design.description %>
      </div>
    </div>

  </div>
  <br>
</div>
