<%= form_with(model: article, class: "contents") do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= article.errors.count %> hiba miatt nem sikerült elmenteni:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :intro %>
    <%= form.text_area :intro, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>


    <div class="my-5">
      <%= form.label :content %>
      <%= form.rich_text_area :content, class: 'bg-white overflow-auto'%>
    </div>
  <br>
  <div>
    <%= form.submit 'Mentés', class: "py-3 px-5 btn-primary cursor-pointer" %>
    <%= link_to "Mégse", articles_path, class: "py-3 px-5 btn-secondary" %>
  </div>
<% end %>
