<%= form_with(model: user, class: "contents") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5 flex w-full justify-center">
    <p>Név:</p>
  </div>
    <%= form.text_field :name, class: "input" %>

  <% if policy(User).edit? %>
  <br>
  <div class="my-5 flex flex-col w-full justify-center gap-4">
    <p class="text-center">Jogosultsági kör: </p>
    <% def translate(role) %>
    <%  I18n.t :"user_role.#{role}" %>
    <% end %>
    <% roles_array = User.roles.map { |role| [translate(role[0]), role[0]] } %>
    <%= form.select(:role, roles_array) %>
  </div>
  <% end %>

  <div class="w-full flex justify-center">
    <%= form.submit class: "btn btn-primary mt-5" %>
  </div>
<% end %>
