<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <h2 class="mb-8 text-3xl font-bold text-center">Elfelejtett jelszó</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-6">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email cím', class: "input" %>
      </div>

      <div class="actions w-full flex justify-around">
        <%= link_to "Vissza", user_session_path, class: "btn btn-secondary text-xl" %>
        <%= f.submit "Küldés", class: "btn btn-primary text-xl" %>
      </div>
    <% end %>

  </div>
</div>
