<%= form_with model: @order, class: "contents" do |form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= @order.errors.count %> hiba miatt nem sikerült elmenteni:</h2>

      <ul>
        <% @order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5" style="position: relative;">
    <p style="text-align: center;">A form hosszú url-je: (a viewform nélkül)</p><br>
    <%= form.text_field :url, :style => "width: 400px;position: absolute;margin-top: 20px;left: 50%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);" %>
  </div>

  <br>
  <div style="position: relative;">
    <%= form.submit "Mentés", class: "py-3 px-5 btn-secondary cursor-pointer", :style => "position: absolute;margin-top: 40px;;left: 50%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);"%>
  </div>
<% end %>
