<% frame_id = dom_id(@explanation, "edit_turbo_frame") %>

<div class="grid grid-cols-2 gap-10 w-full ">
  <div>

    <%= image_tag @picture.img, alt: @picture.name %>
  </div>
  <!-- ... -->
  <div>
    <%= turbo_frame_tag frame_id do %>
      <h1 class="text-3xl text-primary text-center font-bold mb-5">
        <%= @explanation.title %>
        <% if admin? %>
          <%= link_to edit_site_content_path(@explanation, back_path: picture_path(@picture)) do %>
            <i class="fa-solid fa-pen-to-square text-black ml-3"></i>
          <% end %>
        <% end %>
      </h1>
      <%= @explanation.content %>
    <% end %>

    <% if admin? %>
      <div class="my-5">
        <span class="text-3xl font-bold">Érdeklődők száma:  <%= @enquiries.count %></span>
      </div>
      <div class="mb-5">
        <%= link_to 'Érdeklődések exportálása', export_enquiry_path(item_id: @picture, format: :csv), class: 'btn btn-primary bg-yellow-500 hover:bg-yellow-800' %>
      </div>

    <% end %>

    <% if user_signed_in? %>
      <div class="my-5">
        <% if @enquiry.present? %>
          <%= link_to 'Mégsem érdekel!', unset_enquiry_path(item_id: @picture.id), class: 'btn btn-danger' %>
        <% else %>
          <%= link_to 'Érdeklődés leadása', set_enquiry_path(item_id: @picture.id), class: 'btn btn-secondary ' %>
        <% end %>

      </div>

    <% end %>
  </div>
  <div>
    <%= link_to 'Vissza a galériához', pictures_path, class: 'btn btn-secondary ' %>
  </div>
</div>
