<header x-data="{ open: false }">
  <nav class="flex flex-row items-center justify-between px-6 py-4 text-xl">
    <a class="text-xl font-bold nav-link" href="/" data-turbo="false">
      <%= image_tag("logo.svg", alt: "Pulcsi és Foltmékör", class: "w-8 h-8 inline-block") %>
      Pulcsi és Foltmékör
    </a>
    <div class="flex flex-row items-center space-x-6">
      <button class="inline-block md:hidden text-gray-900" aria-label="Menü" type="button" @click="open = !open">
        <template x-if="!open">
          <svg class="w-6 h-6 nav-link" xmlns="http://www.w3.org/2000/svg" alt="Menü" aria-label="Menü" fill="none" viewbox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-in duration-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"></path>
          </svg>
        </template>
        <template x-if="open">
          <svg class="w-6 h-6 nav-link" xmlns="http://www.w3.org/2000/svg" alt="Menü" aria-label="Menü" fill="none" viewbox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-in duration-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"></path>
          </svg>
        </template>
      </button>
    </div>
    <div class="hidden md:block">
      <div class="flex flex-row items-center justify-around space-x-7 lg:space-x-10">
        <%= link_to "Hírek", articles_path, :class => "nav-link" %>
        <% if current_user.present? && current_user.admin %>
          <div class="dropdown">
            <a>Rendelés</a>
            <div class="dropdown-content">
              <%= link_to "Url szerkesztése", new_order_path, :class => "item" %>
              <%= link_to "Form", orders_path %>
            </div>
          </div>
        <% else %>
          <%= link_to 'Rendelés', orders_path, class: 'nav-link', data: { turbo: false } %>
        <% end %>
        <%= link_to 'GYIK', faq_path, class: 'nav-link' %>
        <%= link_to 'Galéria', pictures_path, class: 'nav-link', data: { turbo: false } %>
        <% if user_signed_in? %>
          <div class="dropdown">
            <button class="btn btn-primary"><%= current_user.name %></button>
            <div class="dropdown-content">
              <%= link_to "Profilom", user_path(current_user), :class => "item" %>
              <% if admin? %>
                <%= link_to "Felhasználók", users_path, :class => "item" if admin? %>
              <% end %>
              <%= button_to "Kijelentkezés", destroy_user_session_path, method: :delete %>
            </div>
          </div>
        <% else %>
          <%= link_to "Belépés", user_session_path, :class => "btn btn-primary" %>
          </div>
        <% end %>
        </div>
  </nav>
  <template x-if="open">
    <nav class="flex flex-col px-6 mb-3 space-y-2 md:hidden" x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0 transform -translate-y-6" x-transition:enter-end="opacity-100 transform translate-y-0" x-transition:leave="transition ease-in duration-100" x-transition:leave-start="opacity-100 transform translate-y-0" x-transition:leave-end="opacity-0 transform -translate-y-6">
      <%= link_to "Hírek", articles_path, :class => "text-lg nav-link" %>
      <%= link_to 'Rendelés', orders_path, class: 'text-lg nav-link' %>
      <%= link_to 'GYIK', faq_path, class: 'text-lg nav-link' %>
      <%= link_to 'Galéria', pictures_path, class: 'text-lg nav-link', data: { turbo: false } %>
      <% if user_signed_in? %>
        <%= link_to "Profilom", user_path(current_user), class: "text-lg nav-link" %>
      <% end %>
      <% if user_signed_in? && admin? %>
        <div class="text-grey text-center">Admin funkciók</div>
        <%= link_to 'Rendelés url szerkesztése', new_order_path, class: 'text-lg nav-link' %>
        <%= link_to "Felhasználók", users_path, class: 'text-lg nav-link' if admin? %>
      <% end %>
      <% if user_signed_in? %>
        <%= button_to "Kijelentkezés", destroy_user_session_path, method: :delete, class: 'btn btn-primary text-center bg-red-500' %>
      <% else %>
        <%= link_to "Belépés", user_session_path, :class => "btn btn-primary text-center" %>
      <% end %>
    </nav>
  </template>
</header>
