<!DOCTYPE html>
<html>
  <head>
    <title>Pulcsi és Foltmékör</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag "favicon-64.png" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="flex flex-col min-h-screen text-gray-800 transition-colors duration-300 bg-gradient-to-b from-white to-green-100">
    <div id="alert" class="fixed z-50 cursor-pointer"></div>
    <%= render "layouts/header" %>
    <main class="flex-1 container mx-auto py-12 px-2">
      <%= yield %>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
